body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.header, .footer {
    background-color: blue;
    width: calc(100% - 100px);
    height: 100px;
    float: right;
    text-align: center;
}
.sidebar {
    background-color: yellow;
    width: 100px;
    height: 100vh;
    float: left;
}
.content {
    background-color: white;
    height: calc(100vh - 200px);
    float: right;
    width: calc(100% - 100px);
}
img {
    max-width: 100%; 
    height: auto;   
}